body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(30, 129, 176);
}

.data-container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    max-height: 230px;
    background-color: #eab676;
    border-radius: 5px;
}

.data-container form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 80%;
    gap: 8px;
}

.data-container form label {
    font-size: 12px;
    font-weight: bold;
}

.data-container form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 5px;
}

.data-container form input[type="submit"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #0b64c5;
    color: white;
    cursor: pointer;
}

.data-container form input[type="submit"]:hover {
    background-color: #0457af;
}

.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

.event-container .event-data {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 4px;
}

.event-container .event-data .daysLeft {
    font-size: 20px;
    font-weight: bold;
}

.event-container .event-data button {
    cursor: pointer;
    background-color: #f40716;
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: white;
}

.event-container .event-data button:hover {
    background-color: #db0716;
}